<%= stylesheet_link_tag "index", "data-turbo-track": "reload" %>

<div class="all-index">
<div class="index-top">
    <span class="title">
        予定一覧
    </span>
    <a href="/top/new">
        <button class="new-cre">
            <span>
                +
            </span>
            新規作成
        </button>
    </a>
</div>

<% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
<% end %>

<table class="index-list">
    <thead>
        <tr>
            <th>ID</th>
            <th>タイトル</th>
            <th>開始日</th>
            <th>終了日</th>
            <th>終日</th>
            <th>更新日時</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <% @newdates.each do |newdate| %>
        <tr>
            <td><%= newdate.id %></td>
            <td><%= newdate.title %></td>
            <td><%= newdate.startday %></td>
            <td><%= newdate.endday %></td>
            <td><%= newdate.allday %></td>
            <td><%= newdate.updated_at.to_fs(:datetime_jp) %></td>
            <td><%= link_to "詳細", top_show_path %></td>
            <td><%= link_to "編集", top_edit_path %></td>
            <td><%= link_to "削除", top_index_path, data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<div class="sum">
    <div class="sum-title">
        <span class="sum-text">
            予定合計
        </span>
        <span class="sum-num">
            6
        </span>
        <span class="sum-text">
            件
        </span>
    </div>
    <日付>
</div>
</div>