<%= stylesheet_link_tag "new", "data-turbo-track": "reload" %>
<meta name="turbolinks-visit-control" content="reload">


<div class="all-new">
<h2 class="title">
    予定の新規追加
</h2>

<div class="new-form">
<%= form_with model: @newdate, local: true do |f| %>
    <table>
        <tr class="new-tr">
            <th><%= f.label :title ,"タイトル" %></th>
            <td><%= f.text_field :title %></td>
        </tr>

        <tr class="new-tr day">
            <th><%= f.label :startday ,"開始日" %></th>
            <td><%= f.text_field :startday, :class => 'datepicker' %></td>
        </tr>

        <tr class="new-tr day">
            <th><%= f.label :endday ,"終了日" %></th>
            <td><%= f.text_field :endday, :class => 'datepicker' %></td>
        </tr>

        <tr class="new-tr">
            <th><%= f.label :memo ,"スケジュールメモ" %></th>
            <td><%= f.text_area :memo %></td>
        </tr>
    </table>

    <div>
        <ul>
            <li class="cansel-li"><%= link_to "キャンセル",  top_index_path, :class =>"cansel" %></li>
            <li class="submit-li"><%= f.submit "保存",  :class => "submit" %></li>
        </ul>
    </div>
<% end %>
</div>

<script>$('.datepicker').datepicker();</script>
