<%= stylesheet_link_tag "new", "data-turbo-divack": "reload" %>

<div class="all-new">
<h2 class="title">
    予定の新規追加
</h2>

<div class="new-form">
<%= form_with model: @newdate do |f| %>

    <% if @newdate.errors.any? %>
    <div id="error_explanation">
        <h2><%= @newdate.errors.count %>件のエラーが発生しました:</h2>
        <ul>
            <% @newdate.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>

    <form class="table">
        <div class="new-tr">
            <label><%= f.label :title ,"タイトル", :class =>"form-title" %></label>
            <%= f.text_field :title, :class =>"form-text" %>
        </div>

        <ul class="ul-day">
        <li class="li-day">
        <div class="new-tr">
            <label><%= f.label :startday ,"開始日", :class =>"form-title" %></label>
            <%= f.date_field :startday, :class =>"form-text" %>
        </div>
        </li>

        <li class="li-day">
        <div class="new-tr">
            <label><%= f.label :endday ,"終了日", :class =>"form-title" %></label>
            <%= f.date_field :endday, :class =>"form-text" %>
        </div>
        </li>
        </ul>

        <div class="new-check">
            <%=f.check_box :allday, {}, "〇", "" %>
            <span>終日の場合はチェックを入れます</span>
        </div>

        <div class="new-tr">
            <label><%= f.label :memo ,"スケジュールメモ", :class =>"form-title" %></label>
            <%= f.text_area :memo, :class =>"form-text" %>
        </div>
    </form>

    <div class="hozon">
        <ul class="ul">
            <li><%= link_to "キャンセル",  top_index_path, :class =>"cansel" %></li>
            <li><%= f.submit "保存",  :class => "submit" %></li>
        </ul>
    </div>
<% end %>
</div>

<script>$('.datepicker').datepicker();</script>